{% extends 'judge/base.html' %}

{% load tz %}

{% block title %}{{ contest.name }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">Contest {{ contest.pk }}</li>
{% endblock %}

{% block scripts %}
<!-- TODO Fix this -->
<!-- <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    var date_options = {
        enableTime: true,
        dateFormat: "Y-m-d H:i:S",
        allowInput: true,
        enableSeconds: true,
    }
    $("#id_contest_start").flatpickr(date_options)
    $("#id_contest_soft_end").flatpickr(date_options)
    $("#id_contest_hard_end").flatpickr(date_options)
</script> -->
{% if form.non_field_errors %}
<script>
    $(window).on('load', function () {
        $('#modal-update-dates').modal('show');
    });
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-7">
        <h2 class="d-inline">{{ contest.name }}</h2>
        <div class="col-12">
            {% if type == 'Poster' %}
            {% if now < contest.start_datetime %}<a class="btn btn-primary"
                href="{% url 'judge:new_problem' contest.pk %}">Add Problem</a>{% endif %}
            <a class="btn btn-primary" href="{% url 'judge:contest_scores_csv' contest.pk %}">Download Scores</a>
            {% endif %}
            <a class="btn btn-primary" href="{% url 'judge:get_posters' contest.pk %}">See posters</a>
            {% if not contest.public %}<a class="btn btn-primary"
                href="{% url 'judge:get_participants' contest.pk %}">See
                participants</a>{% endif %}
            {% if type == 'Poster' and curr_time < contest.hard_end_datetime %}<button type="button" class="btn btn-primary my-2" data-toggle="modal"
                data-target="#modal-update-dates">Update dates</button>{% endif %}
        </div>
    </div>
    {% if type == 'Poster' and curr_time < contest.hard_end_datetime %}
    <div class="modal fade" id="modal-update-dates" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal- modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                UPDATE CONTEST
                            </div>
                            <form method="POST" role="form">
                                {% if form.non_field_errors %}
                                <div class="alert alert-danger alter-dismissible fade show" role="alert">
                                    {{ form.non_field_errors }}
                                </div>
                                {% endif %}
                                {% csrf_token %}
                                {% for field in form %}
                                <div class="form-group mb-1">
                                    {{ field.label_tag }}
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                        </div>
                                        {{ field }}
                                    </div>
                                    {% if field.help_text %}
                                    <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                                    {% endif %}
                                    {% if field.errors %}
                                    <div class="alert alert-danger mt-2" role="alert">
                                        {{ field.errors|striptags }}
                                    </div>
                                    {% endif %}
                                </div>
                                {% endfor %}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="col-md-5 float-right">
        <i class="ni ni-calendar-grid-58"></i> Starts at {{ contest.start_datetime|localtime }}<br>
        {% if contest.soft_end_datetime != contest.hard_end_datetime %}
        <i class="ni ni-calendar-grid-58"></i> Submissions penalized after
        {{ contest.soft_end_datetime|localtime }}<br>
        {% endif %}
        <i class="ni ni-calendar-grid-58"></i> Ends at {{ contest.hard_end_datetime|localtime }}<br>
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-7">
        {% for problem in problems %}
        <div class="card m-3">
            <div class="card-body">
                <h4><code>[{{ problem.code }}]</code> {{ problem.name }}</h4>
                <a href="{% url 'judge:problem_detail' problem.pk %}" class="card-link">Go to problem page</a>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="col-12 col-md-5">
        {% if leaderboard_status %}
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>Rank</th>
                    <th>Participant</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in leaderboard %}
                <tr>
                    <th>{{ forloop.counter }}</th>
                    <td>{{ entry.0 }}</td>
                    <td>{{ entry.1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>{{ leaderboard }}</p>
        {% endif %}
    </div>
    {% if type == 'Poster' %}
    <div class="col-12 my-4">
        <form action="{% url 'judge:delete_contest' contest.pk %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-icon">
                <span class="btn-inner--icon"><i class="fas fa-trash pb-2"></i></span>
                <span class="btn-inner--text">Delete Contest</span>
            </button>
        </form>
    </div>
    {% endif %}
</div>

{% endblock %}
