{% extends 'judge/base.html' %}

{% block title %}Add {{ type }} | Contest {{ contest_id }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'judge:contest_detail' contest_id %}">Contest {{ contest_id }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Add {{ type }}</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">
        <h2>Add {{ type }}</h2>
    </div>
    <div class="col-12">
        <form method="POST">
            {% if form.non_field_errors %}
            <div class="alert alert-danger alter-dismissible fade show" role="alert">
                {{ form.non_field_errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
                {% if field.errors %}
                <div class="alert alert-danger mt-2" role="alert">
                    {{ field.errors|striptags }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Add {{ type }}</button>
        </form>
    </div>
</div>
{% endblock %}
