{% extends 'judge/base.html' %}

{% block content %}

<div class="row">
    <div class="col-12 col-md-7">
        <h2>{{ contest.name }}</h2>
    </div>
    <div class="col-12 col-md-5">{{ contest_start }} - {{ contest_end }}</div>
</div>

<div class="row">
    <div class="col-12 col-md-7">
        <a class="btn btn-primary" href="{% url 'judge:new_problem' contest.pk %}">Add Problem</a>
        {% for problem in problems %}
        <div class="card m-3">
            <div class="card-body">
                <h4><code>[{{ problem.code }}]</code> {{ problem.name }}</h4>
                <a href="{% url 'judge:problem_detail' problem.pk %}" class="card-link">Go to problem page</a>
            </div>
        </div>
        {% endfor %}
        <!-- TODO List all the problems here -->
    </div>
    <div class="col-12 col-md-4">
        <div class="col-12">
            <h4>Posters</h4>
            <form action="{% url 'judge:contest_add_poster' contest.pk %}" method="POST" class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control m-2" name="email">
                    <input type="submit" class="btn btn-primary" value="Add Poster">
                </div>
            </form>
            <!-- TODO List all posters -->
        </div>
        <hr>
        <div class="col-12">
            <h4>Participants</h4>
            <form action="{% url 'judge:contest_add_participant' contest.pk %}" method="POST" class="form-inline">
                {% csrf_token %}
                <div class="form-group">
                    <input type="text" class="form-control m-2" name="email">
                    <input type="submit" class="btn btn-primary" value="Add Participant">
                </div>
            </form>
            <!-- TODO List all participants -->
        </div>
    </div>
</div>

{% endblock %}