{% extends "judge/base.html" %}

{% block title %}New Contest{% endblock %}

{% block styles %}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item active" aria-current="page">New Contest</li>
{% endblock %}

{% block content %}
<div class="row my-2">
    <div class="col-12">
        <h2>New Contest</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8">
        <form action="{% url 'judge:new_contest' %}" method="POST">
            {% if form.non_field_errors %}
            <div class="alert alert-danger alter-dismissible fade show" role="alert">
                {{ form.non_field_errors }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                {% endif %}
                {% if field.errors %}
                <div class="alert alert-danger mt-2" role="alert">
                    {{ field.errors|striptags }}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
{% endblock %}
