{% extends "judge/base.html" %}

{% block styles %}
<link href="https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js" type="text/javascript"></script>
<script>
    $('#startDateField').datetimepicker({
        uiLibrary: 'bootstrap4',
        footer: true,
    })
    $('#endDateField').datetimepicker({
        uiLibrary: 'bootstrap4',
        footer: true,
    })
</script>
{% endblock %}

{% block content %}
<div class="row my-2">
    <div class="col-12">
        <h2>New Problem</h2>
    </div>
</div>
<div class="row">
    <div class="col-12 col-md-8">
        <form action="{% url 'judge:new_problem' %}" method="POST">
            {% if error_msg %}
            <div class="alert alert-danger alter-dismissible fade show" role="alert">
                <strong>Error: </strong>{{ error_msg }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endif %}
            {% csrf_token %}
            <div class="form-group">
                <label for="codeField">Code</label>
                <input type="text" class="form-control" id="codeField" aria-describedby="codeHelp"
                    placeholder="Problem code">
                <small id="codeHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="nameField">Name</label>
                <input type="text" class="form-control" id="nameField" aria-describedby="nameHelp"
                    placeholder="Problem name">
                <small id="nameHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="statementField">Statement</label>
                <textarea class="form-control" id="statementField" aria-describedby="statementHelp"
                    placeholder="Problem statement"></textarea>
                <small id="statementHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="inputFormatField">Input Format</label>
                <textarea class="form-control" id="inputFormatField" aria-describedby="inputFormatHelp"
                    placeholder="Input Format"></textarea>
                <small id="inputFormatHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="FormatField">Output Format</label>
                <textarea class="form-control" id="outputFormatField" aria-describedby="outputFormatHelp"
                    placeholder="Output Format"></textarea>
                <small id="outputFormatHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="difficultyField">Difficulty</label>
                <input type="number" class="form-control" id="difficultyField" aria-describedby="difficultyHelp"
                    placeholder="Difficulty">
                <small id="difficultyHelp" class="form-text text-muted"></small>
            </div>
            <div class="form-group">
                <label for="timeLimitField">Time Limit</label>
                <input type="number" class="form-control" id="timeLimitField" aria-describedby="timeLimitHelp"
                    placeholder="Time Limt">
                <small id="timeLimitHelp" class="form-text text-muted">Time limit in milliseconds</small>
            </div>
            <div class="form-group">
                <label for="memoryLimitField">Memory Limit</label>
                <input type="number" class="form-control" id="memoryLimitField" aria-describedby="memoryLimitHelp"
                    placeholder="Memory Limt">
                <small id="memoryLimitHelp" class="form-text text-muted">Memory limit in bytes</small>
            </div>
            <div class="form-group">
                <label for="fileExtField">File Extensions</label>
                <input type="number" class="form-control" id="fileExtField" aria-describedby="fileExtHelp"
                    placeholder="File Extensions">
                <small id="fileExtHelp" class="form-text text-muted">Accepted file extensions in submissions</small>
            </div>

            <div class="form-group">
                <label for="penaltyField">Penalty</label>
                <input type="text" class="form-control" id="penaltyField" aria-describedby="penaltyHelp"
                    placeholder="Penalty">
                <small id="penaltyHelp" class="form-text text-muted">
                    <!-- TODO -->Write description of penalty</small>
            </div>
            <button type="submit" class="btn btn-primary">Create</button>
        </form>
    </div>
</div>
{% endblock %}