{% extends 'judge/base.html' %}

{% block title %}Problem {{ problem.code }} | Contest {{ problem.contest }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'judge:contest_detail' problem.contest.pk %}">Contest
        {{ problem.contest.pk }}</a></li>
<li class="breadcrumb-item active" aria-current="page">Problem {{ problem.code }}</li>
{% endblock %}

{% block styles %}
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
    let quillModules = {
        toolbar: false
    }

    let statementQuill = new Quill('#statementEditor', {
        modules: quillModules,
        theme: 'bubble',
    })

    let inputFormatQuill = new Quill('#inputFormatEditor', {
        modules: quillModules,
        theme: 'bubble',
    })

    let outputFormatQuill = new Quill('#outputFormatEditor', {
        modules: quillModules,
        theme: 'bubble',
    })

    {% if problem.statement != None %}
    statementQuill.setContents(JSON.parse('{{ problem.statement | escapejs }}'))
    {% endif %}
    {% if problem.input_format != None %}
    inputFormatQuill.setContents(JSON.parse('{{ problem.input_format | escapejs }}'))
    {% endif %}
    {% if problem.output_format != None %}
    outputFormatQuill.setContents(JSON.parse('{{ problem.output_format | escapejs }}'))
    {% endif %}

    statementQuill.disable()
    inputFormatQuill.disable()
    outputFormatQuill.disable()

    $(document).ready(function () {
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    })
</script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-9 mb-3">
        <h2 class="d-inline"><code>[{{ problem.code }}]</code></h2>
        <h4 class="d-inline mx-2">{{ problem.name }}</h4>
    </div>
    <div class="col-12 col-md-3 mb-3">
        {% if type == 'Poster' %}<a href="{% url 'judge:edit_problem' problem.pk %}" class="btn btn-primary">Edit
            Problem</a>{% endif %}
    </div>
    <div class="col-12 my-4">
        <h4 class="">Statement</h4>
        <div id="statementEditor"></div>
    </div>
    <div class="col-12 my-4">
        <h4>Input Format</h4>
        <div id="inputFormatEditor"></div>
    </div>
    <div class="col-12 my-4">
        <h4>Output Format</h4>
        <div id="outputFormatEditor"></div>
    </div>
    <div class="col-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Max. Score</th>
                    <td>{{ problem.max_score }}</td>
                </tr>
                <tr>
                    <th>Difficulty</th>
                    <td>{{ problem.difficulty }}</td>
                </tr>
                <tr>
                    <th>Time limit</th>
                    <td>{{ problem.time_limit }}</td>
                </tr>
                <tr>
                    <th>Memory limit</th>
                    <td>{{ problem.memory_limit }} MB</td>
                </tr>
                <tr>
                    <th>Allowed file extensions</th>
                    <td>{{ problem.file_format }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12 my-4">
        <h4>Public test cases</h4>
        {% for test in public_tests %}
        <h5>Test Case {{ forloop.counter }}</h5>
        <div class="col-12">
            <h6>Input</h6>
            <pre class="bg-secondary p-2 rounded"><code>{{ test.0 }}</code></pre>
        </div>
        <div class="col-12">
            <h6>Output</h6>
            <pre class="bg-secondary p-2 rounded"><code>{{ test.1 }}</code></pre>
        </div>
        {% endfor %}
    </div>
    {% if type == 'Poster' %}
    <div class="col-12 my-4">
        <h4>Private test cases</h4>
        {% for test in private_tests %}
        <h5>Test Case {{ forloop.counter }}</h5>
        <div class="col-12">
            <h6>Input</h6>
            <pre class="bg-secondary p-2 rounded"><code>{{ test.0 }}</code></pre>
        </div>
        <div class="col-12">
            <h6>Output</h6>
            <pre class="bg-secondary p-2 rounded"><code>{{ test.1 }}</code></pre>
        </div>
        {% endfor %}
    </div>
    {% endif %}
    <div class="col-12 mb-4">
        {% if problem.start_code %}
        <a href="{% url 'judge:problem_starting_code' problem.pk %}" class="btn btn-default">Download starting code</a>
        {% endif %}
        {% if type == 'Poster' %}
        <a href="{% url 'judge:problem_compilation_script' problem.pk %}" class="btn btn-default">Download Compilation
            Script</a>
        <a href="{% url 'judge:problem_test_script' problem.pk %}" class="btn btn-default">Download Test Script</a>
        {% endif %}
    </div>
</div>

<!-- TODO Check if form is restricted -->
{% if type == 'Participant' and user.is_authenticated %}
<div class="row">
    <div class="col-12 my-4">
        <div class="card">
            <div class="card-header">
                <h3>Submit Solution</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger alter-dismissible fade show" role="alert">
                        {{ form.non_field_errors }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.name == 'submission_file' %}
                    <div class="form-group custom-file">
                        <label class="custom-file-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                        {{ field }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {% if field.errors %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    {% else %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {% if field.errors %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% endfor %}
                    <div class="form-group my-2">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <!-- TODO -->
        <a href="{% url 'judge:problem_submissions' problem.pk %}" class="btn btn-default">See my previous
            submissions</a>
    </div>
</div>
{% endif %}

<!-- TODO Restrict to poster only (check views) -->
{% if type == 'Poster' %}
<div class="row">
    <div class="col-12 my-4">
        <div class="card">
            <div class="card-header">
                <h3>Add Test Case</h3>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% if form.non_field_errors %}
                    <div class="alert alert-danger alter-dismissible fade show" role="alert">
                        {{ form.non_field_errors }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    {% endif %}
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                        {% endif %}
                        {% if field.errors %}
                        <div class="alert alert-danger mt-2" role="alert">
                            {{ field.errors|striptags }}
                        </div>
                        {% endif %}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-default">Add test case</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12">
        <a href="{% url 'judge:problem_submissions' problem.pk %}" class="btn btn-default">See all solutions</a>
    </div>
</div>
{% endif %}
{% endblock %}
