{% extends 'judge/base.html' %}

{% block title %}Submission | Problem {{ problem.code }} | Contest {{ problem.contest }}{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'judge:contest_detail' problem.contest.pk %}">Contest
        {{ problem.contest.pk }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'judge:problem_detail' problem.pk %}">Problem {{ problem.code }}</a></li>
<li class="breadcrumb-item"><a href="{% url 'judge:problem_submissions' problem.pk %}">Submissions</a></li>
<li class="breadcrumb-item active" aria-current="page">Submission {{ submission.pk }}</li>
{% endblock %}

{% block scripts %}
{% if form.errors %}
<script>
    $(window).on('load', function () {
        $('#modal-update-score').modal('show');
    });
</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12 my-4">
        <div class="float-right">
            <a href="{% url 'judge:submission_download' submission.pk %}" class="btn btn-icon btn-default">
                <span class="btn-inner--icon"><i class="fas fa-download"></i></span>
                <span class="btn-inner--text">Download</span>
            </a>
            {% if type == 'Poster' and problem.contest.enable_poster_score %}
            <button type="button" class="btn btn-icon btn-default" data-toggle="modal"
                data-target="#modal-update-score">
                <span class="btn-inner--icon"><i class="fas fa-edit"></i></span>
                <span class="btn-inner--text">Update poster score</span>
            </button>
            <div class="modal fade" id="modal-update-score" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
                    <div class="modal-content">
                        <div class="modal-body p-0">
                            <div class="card bg-secondary shadow border-0">
                                <div class="card-body px-lg-5 py-lg-5">
                                    <div class="text-center text-muted mb-4">
                                        UPDATE POSTER SCORE
                                    </div>
                                    <form method="POST" role="form">
                                        {% if form.non_field_errors %}
                                        <div class="alert alert-danger mt-2" role="alert">
                                            {% for nfe in form.non_field_errors %}
                                                {{ nfe }}
                                            {% endfor %}
                                        </div>
                                        {% endif %}
                                        {% csrf_token %}
                                        {% for field in form %}
                                        <div class="form-group mb-1">
                                            {{ field.label_tag }}
                                            <div class="input-group input-group-alternative">
                                                {{ field }}
                                            </div>
                                            {% if field.help_text %}
                                            <small class="form-text text-muted">{{ field.help_text|safe }}</small>
                                            {% endif %}
                                            {% if field.errors %}
                                            <div class="alert alert-danger mt-2" role="alert">
                                                {{ field.errors|striptags }}
                                            </div>
                                            {% endif %}
                                        </div>
                                        {% endfor %}
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-primary my-4">Update</button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="col-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>Judge Score</th>
                    <td>{{ judge_score }}</td>
                </tr>
                {% if problem.contest.enable_poster_score %}
                <tr>
                    <th>Poster Score</th>
                    <td>{{ poster_score }}</td>
                </tr>
                {% endif %}
                {% if problem.contest.enable_linter_score %}
                <tr>
                    <th>Linter Score</th>
                    <td>{{ linter_score }}</td>
                </tr>
                {% endif %}
                <tr>
                    <th>Final Score</th>
                    <td>{{ final_score }}</td>
                </tr>
                <tr>
                    <th>Timestamp</th>
                    <td>{{ timestamp }}</td>
                </tr>
                <tr>
                    <th>File type</th>
                    <td>{{ file_type }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-12">
        <div class="bg-dark p-2">
            <h3 class="text-white m-0">Test Cases</h3>
        </div>
        <div class="row m-2 p-0">
            {% for test_id, res in test_results.items %}
            <div class="col-md-6 m-0 py-3 px-2 border-bottom">
                <a href="#" data-toggle="modal" data-target="#modal-{{ test_id }}">Test Case {{ forloop.counter }}</a>
                {% if res.3 %}
                <span class="badge badge-pill badge-primary">Public</span>
                {% else %}
                <span class="badge badge-pill badge-default">Private</span>
                {% endif %}
                {% if res.0 == "Passed" %}
                <span class="badge badge-pill badge-success">{{ res.0 }}</span>
                {% elif res.0 == "Running" %}
                <span class="badge badge-pill badge-warning">{{ res.0 }}</span>
                {% elif res.0 == "Internal Failure" %}
                <span class="badge badge-pill badge-secondary">{{ res.0 }}</span>
                {% else %}
                <span class="badge badge-pill badge-danger">{{ res.0 }}</span>
                {% endif %}
                <div class="modal fade" id="modal-{{ test_id }}" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-body p-0">
                                <div class="card shadow border-0">
                                    <div class="card-body px-lg-5 py-lg-5">
                                        <div class="text-center mb-4">
                                            Test Case {{ forloop.counter }}
                                        </div>
                                        <div>
                                            <table class="table">
                                                <tbody>
                                                    <tr>
                                                        <th>Test Case ID</th>
                                                        <td>{{ test_id }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Status</th>
                                                        <td>{{ res.0 }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Time taken</th>
                                                        <td>{{ res.1 }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>Memory taken</th>
                                                        <td>{{ res.2 }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <p>
                                                <b>Message:</b><br>
                                                <textarea class="form-control" disabled>{{ res.4 }}</textarea>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
